{% extends 'base.html' %}


{% block content %}
<div>
    خشکبار داداشیان فعالیت خود را از ۱۰ سال پیش ، در شهر تهران آغاز نمود و سهم به سزایی در عرضه خشکبار عهده‌دار باشد.<br />
تنوع اجناس خشکبار داداشیان با بیش از ۸۰ نوع محصول مختلف در بسته بندی های متنوع و زیبا حاکی از گستردگی فعالیت و سابقه درخشان آن می باشد.<br />
 رفته رفته رشد کردیم و حالا ویژگی‌های متنوعی از خود به نمایش گذاشته‌ایم:<br />
کیفیت بسیار بالا<br />
ارسال رایگان (همواره و همیشه چه برای تهران چه برای سراسر کشور)<br />
بیش از ۸۰ نوع تنوع محصول<br />
پشتیبانی کامل و دقیق <br />
در نظر گرفتن سلامت و تازگی محصولات<br />
حالا هدف داداشیان برای ادامه راه خود، این است که هر آنچه تاکنون داشته را بهتر کند و تجربه خریدی دلنشین، دلچسب و بسیار آسان را در اختیار مشتریان آجیل و خشکبار قرار دهد<br />
   
</div>
{% endblock content %}
