{% load static %}

<footer id="footer" class=" text-center text-lg-start">
    <div class="container p-4 ">
        <div class="row">
            <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
                <p>درباره‌ما: خشکبار داداشیان فعالیت خود را از ۱۰ سال پیش ، در شهر تهران آغاز نمود و سهم به سزایی در عرضه خشکبار عهده‌دار باشد.</p>
            </div>

            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <ul class="list-unstyled">
                    <li>
                        <p >شماره: ۰۹۳۳۵۳۷۸۸۴۷</p>
                    </li>
                    <li>
                        <p >آدرس: تهران- مرزداران</p>
                    </li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                <img  src="{% static 'image/logo.png' %}" alt="">
            </div>
        </div>
    </div>
</footer>